<html>
  <head></head>
  <style>
    body {
      text-align: center;
      background-color: <%= background_color if background_color %>;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-size: 19px;
    }
    
    .center {
      padding: 40% 0;
      text-align: center;
    }
  </style>
  
  <body>
    <div class='center'>
      <p>
        <%= check_guess %>
      </p>
      <form>
        <input type='test' name='guess' />
        <input type='submit' value='Guess!' />
      </form>
      <br>
      <%= "Remaining guesses: #{remaining_guesses}" %>
      <br>
      <%= cheat %>
    </div>
  </body>
</html>